# Copy this file to `.env` (same folder) and fill in your real credentials.
# Never commit the real .env file to version control - add it to .gitignore.

MONGO_URI=mongodb+srv://<username>:<password>@context-modeling-cluste.maly4h1.mongodb.net/
MONGO_DB_NAME=sample_mflix
